{% extends "learning_logs/base.html" %}

{% block page_header %}

  <h1>Topics</h1>
  <p><a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></p>


{% endblock page_header %}

{% block content %}

  <ul>
    {% for topic in topics %}
      
        <a href="{% url 'learning_logs:topic' topic.id %}">
          
          <div class="card">
            <div class="card-body">
              {{ topic }}
            </div>
          </div>
        </a>
      
    {% empty %}
      <li><h3>No topics have been added yet.</h3></li> 
    {% endfor %}
  </ul>


{% endblock content %}